@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
* {
  margin: 0;
  padding: 0;
}
.icon-container {
  display: none;
}
.bg-image {
  background-image: url(../assets/bg.png);
}

/* navbar styles */
.navbar {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar {
  margin-top: 30px;
}
.school-logo {
  display: flex;
}

.school-logo .school h2 {
  font-size: 2rem;
  color: black;
}
.school-logo .school {
  align-content: center;
}
.nav-links {
  display: flex;
}
.nav-item {
  font-weight: bold;
  font-size: 1.1rem;
  list-style: none;
  margin-right: 30px;
}
.orange-item {
  color: orange;
}
.sky-blue {
  color: skyblue;
}
.light-sky {
  color: rgba(5, 212, 223, 1);
}
.purple {
  color: rgba(93, 88, 239, 1);
}
.nav-button button {
  background-color: orange;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 10px 50px;
  font-weight: 600;
}
/* banner styles */
.banner {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  gap: 70px;
  margin-bottom: 60px;
}
.banner-content {
  max-width: 620px;
  align-content: center;
}
.banner-title {
  font-size: 3.2rem;
  margin-bottom: 21px;
}
.banner-content button {
  margin-top: 21px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 10px 50px;
  font-weight: 600;
}
/* standard curriculum styles */
.standard-curriculum {
  background-image: url(../assets/bg.png);
}

.curriculum-box {
  margin: 0 auto;
  max-width: 1158px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.curriculum-box .box-1 {
  background: linear-gradient(
    to bottom,
    rgba(222, 245, 255, 1),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(222, 245, 255, 1);
  border-radius: 18px;
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 40px;
}

.curriculum-box .box-1 h2 {
  margin-top: 16px;
  font-size: 1.3rem;
}
.curriculum-box .box-1 p {
  margin-top: 30px;
  color: rgba(128, 128, 128, 1);
  font-size: 0.9rem;
  font-weight: 400;
}
.curriculum-box .box-1 button {
  margin-top: 50px;
  background-color: #ffffff;
  color: rgba(100, 200, 255, 1);
  border: none;
  padding: 5px;
}
.curriculum-box .box-2 {
  background: linear-gradient(
    to bottom,
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid rgba(255, 244, 220, 1);
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.09);
  text-align: center;
  border-radius: 18px;
  text-align: center;
  padding: 40px;
}
.curriculum-box .box-2 h2 {
  margin-top: 30px;
  font-size: 1.3rem;
}
.curriculum-box .box-2 p {
  margin-top: 30px;
  color: rgba(128, 128, 128, 1);
  font-size: 0.9rem;
  font-weight: 400;
}
.curriculum-box .box-2 button {
  margin-top: 50px;
  background-color: #ffffff;
  color: rgba(240, 170, 0, 1);
  border: none;
  padding: 5px;
}

.curriculum-box .box-3 {
  background: linear-gradient(
    to bottom,
    rgba(238, 225, 255, 1),
    rgba(255, 255, 255, 0)
  );
  text-align: center;
  border: 1px solid rgba(242, 232, 255, 1);
  box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  text-align: center;
  padding: 40px;
}
.curriculum-box .box-3 h2 {
  margin-top: 30px;
  font-size: 1.3rem;
}
.curriculum-box .box-3 p {
  margin-top: 30px;
  color: rgba(128, 128, 128, 1);
  font-size: 0.9rem;
  font-weight: 400;
}
.curriculum-box .box-3 button {
  margin-top: 63px;
  background-color: #ffffff;
  color: rgba(135, 0, 255, 1);
  border: none;
  padding: 5px;
}
.curriculum-tite {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 80px;
}

.arrow-btn {
  margin-top: 75px;
  text-align: center;
}
.arrow-btn button {
  font-size: 24px;
  margin-right: 5px;
  color: white;
  font-weight: bolder;
  border: none;
  padding: 20px;
  border-radius: 50%;
  background-color: orange;
}

/* our storirs */
.stories {
  background-image: url("../assets/bg.png");
}
.our-story {
  margin-top: 100px;
  background: linear-gradient(
    to top,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 1)
  );
}
.our-story .our-story-title {
  text-align: center;
  margin-bottom: 70px;
  font-size: 2.8rem;
}
.stories {
  justify-items: center;
  margin: 0 auto;
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story1 {
  max-width: 540px;
  background-color: #ffffff;
  border-radius: 16px;
}
.story1 img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.story1 button {
  background-color: rgba(60, 216, 232, 1);
  padding: 12px 16px;
  border: none;
  border-radius: 47px;
  color: #ffffff;
}
#story1-btn {
  margin-top: -25px;
  margin-left: 38px;
  margin-bottom: 40px;
}
.story1-content {
  padding: 30px 68px 34px 38px;
}
.story1-content h2 {
  font-size: 1.5rem;
  margin-bottom: 47px;
}
.story1-content p {
  color: rgba(102, 102, 102, 1);
  font-size: 0.8rem;
}

.small-stories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 19px;
}

.story2 {
  background-color: #ffffff;
  border-radius: 16px;
}
.story-2-title {
  padding: 23px 50px 23px 38px;
}
.story-2-title h3 {
  font-size: 0.9rem;
}
.story2 img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
}
.story2 button {
  background-color: rgba(149, 178, 38, 1);
  padding: 9px 12px;
  border: none;
  border-radius: 47px;
  color: #ffffff;
}
#story2-btn {
  margin-top: -25px;
  margin-left: 38px;
}
.story3 {
  background-color: #ffffff;
  border-radius: 16px;
}
.story-3-title {
  padding: 23px 50px 23px 38px;
}
.story-3-title h3 {
  font-size: 0.9rem;
}
.story3 img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
}
.story3 button {
  background-color: rgba(93, 88, 240, 1);
  padding: 9px 12px;
  border: none;
  border-radius: 47px;
  color: #ffffff;
}
#story3-btn {
  margin-top: -25px;
  margin-left: 38px;
}

.story4 {
  background-color: #ffffff;
  border-radius: 16px;
}
.story-4-title {
  padding: 23px 50px 23px 38px;
}
.story-4-title h3 {
  font-size: 0.9rem;
}
.story4 img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.story4 button {
  background-color: rgba(149, 178, 38, 1);
  padding: 9px 12px;
  border: none;
  border-radius: 47px;
  color: #ffffff;
}
#story4-btn {
  margin-top: -25px;
  margin-left: 38px;
}
.story5 {
  background-color: #ffffff;
  border-radius: 16px;
}
.story-5-title {
  padding: 23px 50px 23px 38px;
}
.story-5-title h3 {
  font-size: 0.9rem;
}
.story5 img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 100%;
  width: 100%;
}
.story5 button {
  background-color: rgba(149, 178, 38, 1);
  padding: 9px 12px;
  border: none;
  border-radius: 47px;
  color: #ffffff;
}
#story5-btn {
  margin-top: -25px;
  margin-left: 38px;
}
.view-all {
  margin-top: 80px;
  text-align: center;
}
.view-all button {
  margin-top: 21px;
  background-color: black;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 12px 52px;
  font-weight: 600;
  margin-bottom: 60px;
}
/* footer section */
footer {
  background-color: rgba(1, 172, 253, 1);
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  justify-items: center;
  padding: 100px;
}

.footer-content {
  display: flex;
  margin-bottom: 35px;
  gap: 5px;
}
.footer-content h2 {
  font-size: 1.6rem;
  color: #ffffff;
}
.kids-edu p {
  color: #ffffff;
  font-size: 0.9rem;
}
/* .abt-scl {
  margin-left: 50px;
} */
.abt-scl p {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}
.footer-links {
  margin-top: 20px;
}
.footer-item {
  list-style: none;
  margin-bottom: 10px;
  color: #ffffff;
}
.in-touch p {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
}

/* marquee style */
.marquee {
  margin-top: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #e0f7fa, #b3e5fc, gray);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 51, 102, 0.2);
}
@media screen and (max-width: 576px) {
  /* nav */
  .navbar .nav-item,
  .Contact,
  .school,
  .arrow-btn,
  .story1 {
    display: none;
  }

  .icon-container {
    display: inline-block;
    align-content: center;
  }

  .navbar {
    padding: 0 20px;
    border-bottom: 1px solid orange;
  }
  .navbar {
    padding-bottom: 10px;
  }

  /* banner */
  .banner {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .banner-content {
    text-align: center;
  }
  .curriculum-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  /* story */
  .our-story {
    padding: 0 20px;
  }

  /* footer */
  .footer {
    margin: 0;
  }
  .footer-container {
    margin: 0;
    grid-template-columns: repeat(1, 1fr);
    justify-items: left;
  }
}
